@use 'base/variables' as v;
@use 'base/mixins' as m;

.calendar-container {
    .heading-calendar{
        font-weight: v.$semiBoldWeightFont;
        text-align: center;
        
    }
}

.calendar{
    min-width: 32rem;
    max-width: 75rem;
    margin: 0 auto;
    &__current-date{
        color: v.$white;
        padding: 2rem;
        background-color: v.$lavenderPurple;
        text-align: center;
        position: relative;
        .full-current-date{
            color: v.$white;
            transition: color v.$transition;
            &:hover{
                color: v.$purpleDark;
            }
        }
        .prev-btn{
            position: absolute;
            top: calc(50% - 1.5rem);
            left: 2rem;
            font-size: 3.5rem;
            cursor: pointer;
        }
        .next-btn{
            position: absolute;
            top: calc(50% - 1.5rem);
            right: 2rem;
            font-size: 3.5rem;
            cursor: pointer;
        }
    }
    &__main{
        color: v.$white;
        padding: 2rem;
        background-color: v.$lavenderLight;
        .days-week{
            @include m.grid(7, 0);
            text-align: center;
        }
    }
}

.days-month {
    margin-top: 1rem;
    @include m.grid(7, 0);
    .day{
        display: flex;
        height: 5rem;
        align-items: center;
        justify-content: center;
        font-weight: v.$semiBoldWeightFont;
        &:hover{
            cursor: pointer;
            border: 2px solid v.$lavenderPurple;
        }
    }
    .today{
        background-color: v.$lavenderPurple;
        &:hover{
            border: 2px solid v.$white;
        }
    }
}

.day.other-month-day {
    color: rgba(255, 255, 255, .45);
    font-weight: v.$regularWeightFont;
}


.header-month-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .heading-container {
        .date-calendar{
            font-size: 2.5rem;
            padding-bottom: 1rem;
            margin: 0;
            font-weight: v.$regularWeightFont;
            color: v.$white;    
        }
    }
    #pickerCalendar{
        //set some styles to set position of picker closer to the date calendar
        left: 40%;
        position: absolute;
        color-scheme: dark;
        border: none;
        background-color: transparent;
        &:focus{
            outline: none;
        }
        &::-webkit-calendar-picker-indicator{
            
            cursor: pointer;
        }
        &::-webkit-datetime-edit {
            opacity: 0;
        
        }
    }

}