@use 'base/variables' as v;
@use 'base/mixins' as m;

.aside-bg{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 9;
    position: absolute;
    background-color: v.$purpleDark;
    height: 100vh;
    width: 100%;
    left: -100%;
    transition: v.$transition;

    @include m.tabletMQ {
        top: 0;
        left: 0;
        width: 10rem;
        background-color: v.$purpleDark;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .open-aside-btn{
        display: none;
        font-size: 2.5rem;
        position: absolute;
        color: v.$purpleDark;
        right: -3.5rem;
        top: calc(50% - 1.25rem);
        transition: ease .3s;
        &:hover {
            transform: translateX(1rem);
        }
        @include m.tabletMQ{
            display: block;
        }
        .icon-chevron-aside {
            &.active{
                transform: rotate(180deg);
            }
        }
    }
    
    .aside-logo {
        display: none;
        
        @include m.tabletMQ{
            margin: 0 auto;
            width: 7rem;
            display: block;
        }
        
    }

    &.active-mobile{
        left: 0;
        overflow: hidden;
    }
    &.active-desktop{
        width: 25rem;
    }
}
.nav-bar{
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &_item {
            height: 15vh;
            @include m.tabletMQ{
                height: 10vh;
                display: flex;
                align-items: center;
            }
            button{
                &.aside-active{
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }
    
    &__text {
        font-size: 2rem;
        color: v.$white;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        transition: all .3s linear;
        @include m.tabletMQ{
            width: 0;
            opacity: 0;
        }
        &:hover{
            color: v.$magenta;
        }
        &.aside-active {
            width: auto;
            opacity: 1;
        }
    }
    &__icon {
        font-size: 2.5rem;
        color: v.$white;
        transition: color v.$transition;
        &:hover{
            color: v.$magenta;
        }
        
    }    

}