@use 'base/variables' as v;
@use 'base/mixins' as m;

.aside-bg{
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: absolute;
    background-color: v.$purpleDark;
    height: calc(100vh - 8.5rem);
    width: 100%;
    left: -100%;
    transition: all 0.5s ease;
    &.active-mobile{
        left: 0;
        overflow: hidden;
    }
    &.active-desktop{
        width: 25rem;
    }
    
    @include m.tabletMQ {
        justify-content: space-between;
        height: 100vh;
        top: 0;
        left: 0;
        width: 8rem;
        background-color: v.$purpleDark;
        position: fixed;
        padding: 2.5rem 1rem;
        overflow-x: hidden;
    }

    .aside-header{
        display: none;

        @include m.tabletMQ{
        display: flex;
        align-items: center;
        height: 6rem;
        }

        .open-aside-btn{
            display: none;
            cursor: pointer;
            font-size: 2.5rem;
            color: v.$white;
            transition: ease .3s;
            
            @include m.tabletMQ{
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 999;
            }
            
        }
        
        .aside-logo img{
            opacity: 0;
            height: 0;
        }
    }


}
.nav-bar{
    margin-bottom: 4rem;
    @include m.tabletMQ{
        margin-bottom: 0;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_item {
            height: 14vh;
            display: flex;
            @include m.tabletMQ{
                height: 6vh;
                width: 100%;
                position: relative;

            }
            
            &:hover .tooltip{
                opacity: .8;
            }
            .tooltip{
                visibility: hidden;
                width: 0;
                height: 0;
                @include m.tabletMQ{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    left: 110%;
                    color: v.$white;
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: 2.5rem;
                    visibility: visible;   
                    border-radius: .6rem;
                    padding: .5rem 1rem;
                    background-color: v.$black;
                    text-align: center;
                    opacity: 0;
                    pointer-events: none;
                    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
                    transition: opacity 0.3s ease-in-out;
                }
                
            }
        }
    }
    
    .link-btn{
        display: flex;
        align-items: center;
        gap: 3rem;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
        @include m.tabletMQ{
            gap: 0;
            width: 100%;
            display: grid;
            place-content: center;
            grid-template-columns: 8rem auto;
            border-radius: v.$borderRadius *2;
        }
        @include m.tabletMQ {
            &:hover {
                background-color: v.$white;
                i{
                    color: v.$purpleDark;
                }
                span {
                    color: v.$purpleDark;
                }
            }
        }
        

        &__text {
            font-size: 2rem;
            color: v.$white;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            transition: all .5s ease;
            @include m.tabletMQ{
                pointer-events: none;
                width: 0;
                height: 0;
                opacity: 0;
            }
            
        }
        &__icon {
            font-size: 2rem;
            color: v.$white;
            @include m.tabletMQ{
                border-radius: v.$borderRadius*2;
                transition-property: color, background-color;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                place-self: center;
            }
        }    
    }
    

}

//Styles when something is active

.aside-bg.active-desktop .open-aside-btn{
    left: 80%;
}

.aside-bg.active-desktop .aside-logo img{
    display: block;
    height: 6rem;
    opacity: 1;
    transition: height 0.5s ease;
}


.aside-bg.active-desktop .link-btn__text {
    height: auto;
    width: auto;
    opacity: 1;
    pointer-events: all;
}

.aside-bg.active-desktop .link-btn {
    place-content: unset;
}



.aside-bg.active-desktop .tooltip{
    visibility: hidden;
    width: auto;
    height: auto;
}

