@use 'base/variables' as v;
@use 'base/mixins' as m;

.page-content {
    @include m.tabletMQ{
        position: absolute;
        left: 8rem;
        height: 100%;
        width: calc(100% - 8rem);
        transition: all 0.5s ease;
    }
}

.aside-bg.active-desktop + .page-content{
    @include m.tabletMQ{
        left: 25rem;
        width: calc(100% - 25rem);
    }
}
