@use 'base/variables' as v;
@use 'base/mixins' as m;

.user-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    @include m.tabletMQ{
        
    }
    .user-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include m.tabletMQ {
            display: block;
        }
        &__text{
            color: v.$white;
            font-weight: v.$semiBoldWeightFont;
        }
        button{
            display: block;
            font-size: 4rem;
            color: v.$white;
            transition: v.$transition;
            &:hover{
                color: v.$lavenderPurple;
            }
        }
    }

    .user-logout {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include m.tabletMQ {
            display: none;
        }
        &__text{
            color: v.$white;
            font-weight: v.$semiBoldWeightFont;
        }
        button{
            display: block;
            font-size: 4rem;
            color: v.$white;
            transition: v.$transition;
            @include m.tabletMQ{
                font-size: 1.6rem;
            }
            &:hover{
                color: v.$lavenderPurple;
            }
        }
    }
}

.aside-bg.active-desktop .user-logout {
    display: block;
}