@use 'base/variables' as v;
@use 'base/mixins' as m;

.user-data{
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    @include m.tabletMQ{
        padding: 0;
        position: initial;
        justify-content: center;
    }
    .user-info {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: outline v.$transition;
        border-radius: v.$borderRadius*2;
        &:hover {
           outline: 1px solid v.$white;
        }
        
        &__text{
            color: v.$white;
            font-weight: v.$semiBoldWeightFont;
            @include m.tabletMQ{
                display: none;
            }
            span:last-of-type {
                font-size: 1rem;
                font-weight: v.$regularWeightFont;
            }
        }
        .user-image{
            display: block;
            padding: .5rem;
            color: v.$white;
            i{
                font-size: 2rem;
            }
        }
    }

    .user-logout {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include m.tabletMQ {
            display: none;
        }
        &__text{
            color: v.$white;
            font-weight: v.$semiBoldWeightFont;
        }
        button{
            display: block;
            font-size: 4rem;
            color: v.$white;
            transition: v.$transition;
            @include m.tabletMQ{
                font-size: 1.6rem;
            }
            &:hover{
                color: v.$lavenderPurple;
            }
        }
    }
}

.aside-bg.active-desktop .user-info__text {
    display: block;
}